1.- Load data (file3.xlsx and file4.xlsx) in a new Jupyter notebook. 
You might face the error saying that optional dependency xlrd is missing. 
In that case, they should install it using pip. If you don't get the error,
 move to the next step. ðŸ˜„

In [1]:
import pandas as pd

In [2]:
#1: CreaciÃ³n del Dataframe Data

file1 = pd.read_csv("file1.txt")
file2 = pd.read_csv("file2.txt", sep = '\t')

column_names = file1.columns
data = pd.DataFrame(columns=column_names)
data = pd.concat([file1,file2], axis=0)

data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684.0,36,29098,7,19,586.0,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540.0,1,16623,5,68,529.0,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295.0,0,12713,9,12,221.0,276,12.857143,0,0,C2,12.0

In [3]:
data['GENDER'][2021]
data['GENDER'].iloc[2021]

KeyError: 2021

In [4]:

file3=pd.read_excel("file3.xlsx")
file4=pd.read_excel("file4.xlsx")

In [5]:
#2.-
file3.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [6]:
file4.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [7]:
data.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [8]:
data_3['gender'].dtype

NameError: name 'data_3' is not defined

In [ ]:
file3['GENDER'].dtype

dtype('O')

In [9]:
for i in range(data.shape[1]):
  if(data.columns[i]==file3.columns[i]): print("La columna",i," sÃ­ es idÃ©ntica")
  else: print("La columna",i,"no es idÃ©ntica")

La columna 0  sÃ­ es idÃ©ntica
La columna 1  sÃ­ es idÃ©ntica
La columna 2  sÃ­ es idÃ©ntica
La columna 3  sÃ­ es idÃ©ntica
La columna 4  sÃ­ es idÃ©ntica
La columna 5  sÃ­ es idÃ©ntica
La columna 6  sÃ­ es idÃ©ntica
La columna 7  sÃ­ es idÃ©ntica
La columna 8  sÃ­ es idÃ©ntica
La columna 9  sÃ­ es idÃ©ntica
La columna 10  sÃ­ es idÃ©ntica
La columna 11  sÃ­ es idÃ©ntica
La columna 12  sÃ­ es idÃ©ntica
La columna 13  sÃ­ es idÃ©ntica
La columna 14  sÃ­ es idÃ©ntica
La columna 15  sÃ­ es idÃ©ntica
La columna 16  sÃ­ es idÃ©ntica

In [10]:
# | pipeline: para comparaciones es "or" 
#& en comparaciones de "y"
for i in range(data.shape[1]):
  if((data.columns[i]==file4.columns[i]) |(data.columns[i]==file3.columns[i]) ):
    print("La columna",i,"no es idÃ©ntica")

La columna 0 no es idÃ©ntica
La columna 1 no es idÃ©ntica
La columna 2 no es idÃ©ntica
La columna 3 no es idÃ©ntica
La columna 4 no es idÃ©ntica
La columna 5 no es idÃ©ntica
La columna 6 no es idÃ©ntica
La columna 7 no es idÃ©ntica
La columna 8 no es idÃ©ntica
La columna 9 no es idÃ©ntica
La columna 10 no es idÃ©ntica
La columna 11 no es idÃ©ntica
La columna 12 no es idÃ©ntica
La columna 13 no es idÃ©ntica
La columna 14 no es idÃ©ntica
La columna 15 no es idÃ©ntica
La columna 16 no es idÃ©ntica

In [11]:
for i in range(data.shape[1]):
  if(data.columns[i]!=file3.columns[i]): print("La columna",i," no es idÃ©ntica")

In [12]:
data.columns[3].lower()

'hv1'

In [13]:
columnas_mins=[]
for i in range(data.shape[1]):
  columnas_mins.append(data.columns[i].lower())
columnas_mins

['controln',
 'state',
 'gender',
 'hv1',
 'ic1',
 'ic4',
 'hvp1',
 'ic5',
 'pobc1',
 'pobc2',
 'ic2',
 'ic3',
 'avggift',
 'tcode',
 'dob',
 'domain',
 'target_d']

In [14]:
data.columns=columnas_mins

In [15]:
data

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684.0,36,29098,7,19,586.0,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540.0,1,16623,5,68,529.0,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295.0,0,12713,9,12,221.0,276,12.857143,0,0,C2,12.0

In [16]:
data_3 = pd.concat([data,file3,file4], axis=0)

In [17]:
data_3.columns=columnas_mins

ValueError: Length mismatch: Expected axis has 34 elements, new values have 17 elements

In [18]:
data_3.columns

Index(['controln', 'state', 'gender', 'hv1', 'ic1', 'ic4', 'hvp1', 'ic5',
       'pobc1', 'pobc2', 'ic2', 'ic3', 'avggift', 'tcode', 'dob', 'domain',
       'target_d', 'CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1',
       'IC5', 'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB',
       'DOMAIN', 'TARGET_D'],
      dtype='object')

In [19]:
data_3=data_3.drop(['domain','dob'],axis=1)

In [20]:
data_3.columns[1]

'state'

In [21]:
data_3=data_3[['controln', 'state', 'gender', 'ic1', 'ic4', 'ic5',
       'ic2', 'ic3', 'pobc1', 'pobc2','hvp1','avggift', 'tcode', 'target_d']]

In [22]:
data_3['gender'].unique()

array(['M', 'F', 'female', 'Male', nan, 'U', 'J', 'male', 'Female',
       'feamale'], dtype=object)

In [23]:
for i in range(len(data_3['gender'])):
  if ( (data_3['gender'].iloc[i]=='male') |(data_3['gender'].iloc[i]=='Male') ):
    data_3['gender'].iloc[i]='M'
#pd.replace

C:\Users\raulo\AppData\Local\Temp\ipykernel_46340\547662513.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_3['gender'].iloc[i]='M'

In [24]:
data_3['gender'].unique()

array(['M', 'F', 'female', nan, 'U', 'J', 'Female', 'feamale'],
      dtype=object)

In [25]:
len(data_3['gender'])

4028

In [26]:
data_3['state'].unique()

array(['FL', 'IL', 'NC', 'TX', 'CA', 'NV', 'Cali', 'AP', 'KS', 'MI', 'OK',
       'AR', 'IN', 'MT', 'WI', 'MO', 'HI', 'UT', 'GA', 'WA', 'ID', 'CT',
       'AL', 'ND', 'SC', 'IA', 'CO', 'LA', 'OR', 'SD', 'TN', 'NM', 'AZ',
       'MN', 'KY', 'NJ', 'NE', 'California', 'MS', 'NY', 'Arizona', 'WY',
       'Tennessee', 'MD', 'AK', 'VA', 'AE', nan], dtype=object)

In [27]:
data_3[ (data_3['gender']=='F') & (data_3['target_d']<100) ]

,controln,state,gender,ic1,ic4,ic5,ic2,ic3,pobc1,pobc2,hvp1,avggift,tcode,target_d
2,43333.0,FL,F,301.0,436.0,18837,340.0,361.0,11.0,17.0,3.0,4.111111,0.0,5.0
4,190108.0,FL,F,252.0,348.0,17991,280.0,316.0,5.0,6.0,0.0,6.000000,28.0,5.0
8,173223.0,CA,F,184.0,250.0,8708,206.0,235.0,2.0,63.0,0.0,8.818182,0.0,10.0
9,157988.0,CA,F,593.0,617.0,17838,NaN,619.0,7.0,62.0,61.0,6.666667,28.0,10.0
10,141720.0,NV,F,673.0,781.0,25775,672.0,785.0,3.0,44.0,22.0,13.000000,28.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,185394.0,MI,F,285.0,338.0,12910,317.0,300.0,7.0,80.0,0.0,8.916667,2.0,5.0
1008,43799.0,FL,F,366.0,499.0,22427,318.0,458.0,8.0,35.0,15.0,13.166667,2.0,20.0
1009,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1010,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1011,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0

In [28]:
data_3['TARGET_D']

KeyError: 'TARGET_D'

# 1.03 Actividad 3

Filter the results for women, and store the results in another DataFrame filtered2.

In [58]:
filtered2 = data_3[ (data_3['gender']=='F') |
                   (data_3['gender']== 'female') |
                   (data_3['gender']== 'Female') |
                   (data_3['gender']== 'feamale') ]

In [59]:
filtered2

,controln,state,gender,ic1,ic4,ic5,ic2,ic3,pobc1,pobc2,hvp1,avggift,tcode,target_d
2,43333.0,FL,F,301.0,436.0,18837,340.0,361.0,11.0,17.0,3.0,4.111111,0.0,5.0
4,190108.0,FL,F,252.0,348.0,17991,280.0,316.0,5.0,6.0,0.0,6.000000,28.0,5.0
6,18581.0,NC,female,318.0,419.0,13491,364.0,380.0,0.0,73.0,5.0,4.625000,0.0,12.0
8,173223.0,CA,F,184.0,250.0,8708,206.0,235.0,2.0,63.0,0.0,8.818182,0.0,10.0
9,157988.0,CA,F,593.0,617.0,17838,NaN,619.0,7.0,62.0,61.0,6.666667,28.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1010,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1011,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1012,138311.0,AZ,Female,437.0,684.0,29098,586.0,551.0,7.0,19.0,36.0,9.769231,2.0,20.0
1014,135341.0,AZ,Female,205.0,295.0,12713,221.0,276.0,9.0,12.0,0.0,12.857143,0.0,12.0

Check the first 10 rows of the DataFrame using the head() function.

In [60]:
filtered2.head(10)

,controln,state,gender,ic1,ic4,ic5,ic2,ic3,pobc1,pobc2,hvp1,avggift,tcode,target_d
2,43333.0,FL,F,301.0,436.0,18837,340.0,361.0,11.0,17.0,3.0,4.111111,0.0,5.0
4,190108.0,FL,F,252.0,348.0,17991,280.0,316.0,5.0,6.0,0.0,6.000000,28.0,5.0
6,18581.0,NC,female,318.0,419.0,13491,364.0,380.0,0.0,73.0,5.0,4.625000,0.0,12.0
8,173223.0,CA,F,184.0,250.0,8708,206.0,235.0,2.0,63.0,0.0,8.818182,0.0,10.0
9,157988.0,CA,F,593.0,617.0,17838,NaN,619.0,7.0,62.0,61.0,6.666667,28.0,10.0
10,141720.0,NV,F,673.0,781.0,25775,672.0,785.0,3.0,44.0,22.0,13.000000,28.0,5.0
11,186272.0,CA,F,521.0,588.0,20068,565.0,549.0,11.0,54.0,97.0,8.640000,2.0,10.0
12,154301.0,Cali,F,459.0,496.0,13803,470.0,491.0,12.0,52.0,1.0,11.250000,2.0,10.0
14,188304.0,KS,F,263.0,316.0,10755@,303.0,287.0,1.0,75.0,0.0,10.550000,0.0,10.0
16,31977.0,FL,F,521.0,702.0,28124,599.0,615.0,3.0,24.0,31.0,18.500000,2.0,28.0

Reset the index of filtered2 with and without using the parameter drop=True and check the difference in the results

In [62]:
filtered2.reset_index( )

,index,controln,state,gender,ic1,ic4,ic5,ic2,ic3,pobc1,pobc2,hvp1,avggift,tcode,target_d
0,2,43333.0,FL,F,301.0,436.0,18837,340.0,361.0,11.0,17.0,3.0,4.111111,0.0,5.0
1,4,190108.0,FL,F,252.0,348.0,17991,280.0,316.0,5.0,6.0,0.0,6.000000,28.0,5.0
2,6,18581.0,NC,female,318.0,419.0,13491,364.0,380.0,0.0,73.0,5.0,4.625000,0.0,12.0
3,8,173223.0,CA,F,184.0,250.0,8708,206.0,235.0,2.0,63.0,0.0,8.818182,0.0,10.0
4,9,157988.0,CA,F,593.0,617.0,17838,NaN,619.0,7.0,62.0,61.0,6.666667,28.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,1009,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1063,1010,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1064,1011,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1065,1012,138311.0,AZ,Female,437.0,684.0,29098,586.0,551.0,7.0,19.0,36.0,9.769231,2.0,20.0
1066,1014,135341.0,AZ,Female,205.0,295.0,12713,221.0,276.0,9.0,12.0,0.0,12.857143,0.0,12.0

Show the rows from index number 100 to 200.

In [63]:
filtered3= filtered2.reset_index( drop= True )
filtered3

,controln,state,gender,ic1,ic4,ic5,ic2,ic3,pobc1,pobc2,hvp1,avggift,tcode,target_d
0,43333.0,FL,F,301.0,436.0,18837,340.0,361.0,11.0,17.0,3.0,4.111111,0.0,5.0
1,190108.0,FL,F,252.0,348.0,17991,280.0,316.0,5.0,6.0,0.0,6.000000,28.0,5.0
2,18581.0,NC,female,318.0,419.0,13491,364.0,380.0,0.0,73.0,5.0,4.625000,0.0,12.0
3,173223.0,CA,F,184.0,250.0,8708,206.0,235.0,2.0,63.0,0.0,8.818182,0.0,10.0
4,157988.0,CA,F,593.0,617.0,17838,NaN,619.0,7.0,62.0,61.0,6.666667,28.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1063,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1064,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1065,138311.0,AZ,Female,437.0,684.0,29098,586.0,551.0,7.0,19.0,36.0,9.769231,2.0,20.0
1066,135341.0,AZ,Female,205.0,295.0,12713,221.0,276.0,9.0,12.0,0.0,12.857143,0.0,12.0

In [65]:
filtered3.iloc[100:200 ]

,controln,state,gender,ic1,ic4,ic5,ic2,ic3,pobc1,pobc2,hvp1,avggift,tcode,target_d
100,163506.0,CA,F,735.0,805.0,34382,701.0,838.0,9.0,55.0,98.0,15.857143,0.0,15.0
101,107727.0,NE,F,260.0,353.0,12452,321.0,300.0,1.0,75.0,0.0,5.279070,0.0,7.0
102,64212.0,IN,F,319.0,388.0,12989,363.0,341.0,1.0,80.0,0.0,15.666667,0.0,20.0
103,45101.0,FL,F,322.0,494.0,18738,424.0,407.0,7.0,14.0,5.0,4.125000,2.0,3.0
104,36528.0,FL,F,323.0,400.0,9980,373.0,376.0,73.0,17.0,1.0,25.000000,0.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,31852.0,FL,F,480.0,506.0,15195,495.0,487.0,3.0,25.0,0.0,15.200000,0.0,26.0
196,152527.0,California,F,289.0,402.0,11567,377.0,339.0,9.0,50.0,37.0,23.000000,28.0,23.0
197,153818.0,California,F,574.0,677.0,29871,587.0,653.0,5.0,14.0,86.0,9.828571,0.0,10.0
198,152641.0,California,F,319.0,351.0,11046,305.0,349.0,11.0,43.0,1.0,30.000000,0.0,50.0
199,161691.0,California,F,327.0,391.0,13190,358.0,370.0,17.0,51.0,8.0,19.166667,0.0,25.0

Use iloc to get the first 100 rows and columns with indexes 2,3,4,5.

In [64]:
# [ filas[ ]]

filtered3.iloc[0:100 ,[2,3,4,5]]

    gender    ic1    ic4    ic5
0        F  301.0  436.0  18837
1        F  252.0  348.0  17991
2   female  318.0  419.0  13491
3        F  184.0  250.0   8708
4        F  593.0  617.0  17838
..     ...    ...    ...    ...
95       F  378.0  423.0  14106
96       F  117.0  523.0  13344
97       F  332.0  471.0  21410
98       F  314.0  385.0  11360
99       F  604.0  669.0  20529

[100 rows x 4 columns]

In [66]:
filtered3.dtypes

controln    float64
state        object
gender       object
ic1         float64
ic4         float64
ic5          object
ic2         float64
ic3         float64
pobc1       float64
pobc2       float64
hvp1        float64
avggift     float64
tcode       float64
target_d    float64
dtype: object

In [72]:
filtered3_numeric=filtered3.select_dtypes(include=['float64','integer'])
filtered3_numeric

,controln,ic1,ic4,ic2,ic3,pobc1,pobc2,hvp1,avggift,tcode,target_d
0,43333.0,301.0,436.0,340.0,361.0,11.0,17.0,3.0,4.111111,0.0,5.0
1,190108.0,252.0,348.0,280.0,316.0,5.0,6.0,0.0,6.000000,28.0,5.0
2,18581.0,318.0,419.0,364.0,380.0,0.0,73.0,5.0,4.625000,0.0,12.0
3,173223.0,184.0,250.0,206.0,235.0,2.0,63.0,0.0,8.818182,0.0,10.0
4,157988.0,593.0,617.0,NaN,619.0,7.0,62.0,61.0,6.666667,28.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...
1062,161838.0,304.0,380.0,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1063,161838.0,304.0,380.0,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1064,161838.0,304.0,380.0,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1065,138311.0,437.0,684.0,586.0,551.0,7.0,19.0,36.0,9.769231,2.0,20.0
1066,135341.0,205.0,295.0,221.0,276.0,9.0,12.0,0.0,12.857143,0.0,12.0

In [73]:
filtered3_numeric.dtypes

controln    float64
ic1         float64
ic4         float64
ic2         float64
ic3         float64
pobc1       float64
pobc2       float64
hvp1        float64
avggift     float64
tcode       float64
target_d    float64
dtype: object

In [77]:
Columns=[]
for i in range(len(filtered3_numeric.columns)):
  Columns.append(filtered3_numeric.columns[i])
Columns

['controln',
 'ic1',
 'ic4',
 'ic2',
 'ic3',
 'pobc1',
 'pobc2',
 'hvp1',
 'avggift',
 'tcode',
 'target_d']

In [83]:
filtered3_numeric[Columns] = filtered3_numeric[Columns].apply(pd.to_numeric)

In [84]:
filtered3_numeric.dtypes

controln    int64
ic1         int64
ic4         int64
ic2         int64
ic3         int64
pobc1       int64
pobc2       int64
hvp1        int64
avggift     int64
tcode       int64
target_d    int64
dtype: object

In [85]:
filtered3_numeric

,controln,ic1,ic4,ic2,ic3,pobc1,pobc2,hvp1,avggift,tcode,target_d
0,43333,301,436,340,361,11,17,3,4,0,5
1,190108,252,348,280,316,5,6,0,6,28,5
2,18581,318,419,364,380,0,73,5,4,0,12
3,173223,184,250,206,235,2,63,0,8,0,10
4,157988,593,617,-9223372036854775808,619,7,62,61,6,28,10
...,...,...,...,...,...,...,...,...,...,...,...
1062,161838,304,380,353,337,25,43,47,13,0,14
1063,161838,304,380,353,337,25,43,47,13,0,14
1064,161838,304,380,353,337,25,43,47,13,0,14
1065,138311,437,684,586,551,7,19,36,9,2,20
1066,135341,205,295,221,276,9,12,0,12,0,12

In [86]:
filtered3[Columns] = filtered3[Columns].apply(pd.to_numeric)

filtered3

,controln,state,gender,ic1,ic4,ic5,ic2,ic3,pobc1,pobc2,hvp1,avggift,tcode,target_d
0,43333.0,FL,F,301.0,436.0,18837,340.0,361.0,11.0,17.0,3.0,4.111111,0.0,5.0
1,190108.0,FL,F,252.0,348.0,17991,280.0,316.0,5.0,6.0,0.0,6.000000,28.0,5.0
2,18581.0,NC,female,318.0,419.0,13491,364.0,380.0,0.0,73.0,5.0,4.625000,0.0,12.0
3,173223.0,CA,F,184.0,250.0,8708,206.0,235.0,2.0,63.0,0.0,8.818182,0.0,10.0
4,157988.0,CA,F,593.0,617.0,17838,NaN,619.0,7.0,62.0,61.0,6.666667,28.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1063,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1064,161838.0,CA,F,304.0,380.0,13811,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1065,138311.0,AZ,Female,437.0,684.0,29098,586.0,551.0,7.0,19.0,36.0,9.769231,2.0,20.0
1066,135341.0,AZ,Female,205.0,295.0,12713,221.0,276.0,9.0,12.0,0.0,12.857143,0.0,12.0

In [87]:
filtered3.dtypes

controln    float64
state        object
gender       object
ic1         float64
ic4         float64
ic5          object
ic2         float64
ic3         float64
pobc1       float64
pobc2       float64
hvp1        float64
avggift     float64
tcode       float64
target_d    float64
dtype: object

In [88]:
filtered3_aux =filtered3

In [89]:
filtered3_aux['ic5'] = filtered3_aux['ic5'].str.replace('\W', '', regex=True)

In [90]:
filtered3_aux.dtypes

controln    float64
state        object
gender       object
ic1         float64
ic4         float64
ic5          object
ic2         float64
ic3         float64
pobc1       float64
pobc2       float64
hvp1        float64
avggift     float64
tcode       float64
target_d    float64
dtype: object

In [96]:
filtered3_aux['ic5'] = filtered3_aux['ic5'].apply(pd.to_numeric, errors = 'coerce')
filtered3_aux

,controln,state,gender,ic1,ic4,ic5,ic2,ic3,pobc1,pobc2,hvp1,avggift,tcode,target_d
0,43333.0,FL,F,301.0,436.0,18837.0,340.0,361.0,11.0,17.0,3.0,4.111111,0.0,5.0
1,190108.0,FL,F,252.0,348.0,17991.0,280.0,316.0,5.0,6.0,0.0,6.000000,28.0,5.0
2,18581.0,NC,female,318.0,419.0,13491.0,364.0,380.0,0.0,73.0,5.0,4.625000,0.0,12.0
3,173223.0,CA,F,184.0,250.0,8708.0,206.0,235.0,2.0,63.0,0.0,8.818182,0.0,10.0
4,157988.0,CA,F,593.0,617.0,17838.0,NaN,619.0,7.0,62.0,61.0,6.666667,28.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,161838.0,CA,F,304.0,380.0,NaN,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1063,161838.0,CA,F,304.0,380.0,NaN,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1064,161838.0,CA,F,304.0,380.0,NaN,353.0,337.0,25.0,43.0,47.0,13.500000,0.0,14.0
1065,138311.0,AZ,Female,437.0,684.0,NaN,586.0,551.0,7.0,19.0,36.0,9.769231,2.0,20.0
1066,135341.0,AZ,Female,205.0,295.0,NaN,221.0,276.0,9.0,12.0,0.0,12.857143,0.0,12.0

In [97]:
filtered3_aux.dtypes

controln    float64
state        object
gender       object
ic1         float64
ic4         float64
ic5         float64
ic2         float64
ic3         float64
pobc1       float64
pobc2       float64
hvp1        float64
avggift     float64
tcode       float64
target_d    float64
dtype: object

In [99]:
filtered3_aux=filtered3_aux.drop_duplicates()
filtered3_aux

,controln,state,gender,ic1,ic4,ic5,ic2,ic3,pobc1,pobc2,hvp1,avggift,tcode,target_d
0,43333.0,FL,F,301.0,436.0,18837.0,340.0,361.0,11.0,17.0,3.0,4.111111,0.0,5.0
1,190108.0,FL,F,252.0,348.0,17991.0,280.0,316.0,5.0,6.0,0.0,6.000000,28.0,5.0
2,18581.0,NC,female,318.0,419.0,13491.0,364.0,380.0,0.0,73.0,5.0,4.625000,0.0,12.0
3,173223.0,CA,F,184.0,250.0,8708.0,206.0,235.0,2.0,63.0,0.0,8.818182,0.0,10.0
4,157988.0,CA,F,593.0,617.0,17838.0,NaN,619.0,7.0,62.0,61.0,6.666667,28.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,30185.0,GA,F,352.0,423.0,NaN,372.0,369.0,1.0,62.0,1.0,10.000000,0.0,30.0
1054,149534.0,CA,F,850.0,931.0,NaN,931.0,862.0,16.0,42.0,98.0,25.000000,28.0,30.0
1055,156152.0,CA,F,313.0,391.0,NaN,340.0,354.0,9.0,37.0,4.0,11.437500,2.0,16.0
1056,67177.0,MI,F,504.0,539.0,NaN,515.0,522.0,2.0,79.0,0.0,9.937500,0.0,12.0
1057,114803.0,OK,F,384.0,613.0,NaN,496.0,497.0,2.0,58.0,16.0,6.333333,28.0,20.0